// Example: override sidebar text + active background
$sidebar-color: #6D1D4F; // default text
$sidebar-active-color: #EFAAC4; // active text
$sidebar-bg-color: #FFC4D1; // sidebar background
$sidebar-active-bg-color: #FFE8E1; // active highlight
$link-color: #D4DCCD; // sidebar link color

// Apply the colors
@import "just-the-docs";
